
/*____________DICTIONARY________________--- */
:root {
	--warm-almond-beige: #F5EBDC;
	--white-color: #ffffff;
	--text-color: #6D4C41;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


/*______________________________________________________________________/
/*________________HEADER_____________*/ 

.melo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6rem;
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	color: var(--text-color);
	padding-right: 2.5rem;
	border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
	font-size: 3rem;
	color: var(--text-color);
	padding-left: 1rem;
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
	font-family: 'Playfair Display', serif;
	color: var(--text-color);
}

span.text {
    padding: 1rem;
}

img, svg {
    vertical-align: middle;
    height: 9rem;
}

/*______________________________________________________________________/

/* _____________________NAVBAR ______________________ */
.container-navbar {
	background-color: var(--warm-almond-beige);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}

.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--text-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 2rem;
	background-color: #fff;
	height: 4.4rem;
	overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: var(--text-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 2rem;
	color: #fff;
}
/*______________________________________________________________________/

/*---------------RESPONSIVE----------------*/ 
@media (max-width: 991px) {
	html {
		font-size: 55%;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}

	.menu {
		display: none;
	}

	.content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 2rem;
	}


	.container-options {
		align-items: center;
	}

	.container-options span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(2, 15rem);
	}

	.container-blogs {
		overflow: hidden;
		grid-template-columns: 1fr 1fr;

		height: 52rem;
	}



	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}



@media (max-width: 1440px) {

	strong {
		margin: 12rem !important;
	}
 }

@media (max-width: 1200px){


h2 {
    text-align: left;
    color: #4b4a4a;
    font-size: 1.5rem;
}
strong {
 
    margin: 1rem !important;
}

}

@media (max-width: 990px){
.about-us img {
    width: 90%;
    height: 60%;
    margin-left: 11rem;
}
}




/* _____________PRODUCT  ________________________ */
h2 {
    text-align: left;
	color: #4b4a4a;
}

.col-md-4 {
	flex: 0 0 auto;
	width: 49.3333%;
}

h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: bold;
    color: var(--text-color);
    font-size: 3.3rem;
	text-align: left;
	
}



.our-philosophy h3{
	color: var(--text-color);
}


.our-philosophy ul{
	color: #212529;
}

.about-us {
	height: 100vh;
	align-items: center;
	justify-content: center;
  }
  
  .about-us img {
    width: 80%;
    height: 80%;
    margin-left: 11rem;
}

  h3{
	margin-top: 2rem;
    margin-bottom: rem;
    font-weight: bold;
    color: var(--text-color);
    font-size: 22.2968px;
    text-align: left;
  }


  strong {
    font-weight: bolder;
    margin: 13rem 16rem;


}

h2 strong{
	margin: 0rem;

}
.sweet-message {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 1.5rem;
	color: #6D4C41; 
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	background-color: #ffedb9; 
	display: inline-block;
	border-radius: 10px;
	box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .about-us img {
    width: 100%;
    height: 80%;
    margin-left: 8rem;
}

.swiper-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .eat {
	margin-top: 10px; 
	text-align: center;
  }

.eat {
    margin-top: 2rem;
	margin-left: 13rem;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--warm-almond-beige);
    display: inline-block;
    padding: 2.2rem 3rem;
    border-radius: 3rem;
    font-weight: bold;
    font-size: 13px;
}

  
/*____________________________CARDS ______________________________________*/


.container-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 250px; 
    height: 200px; 
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-feature:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.card-feature i {
    font-size: 2rem;
    color: #6D4C41;
    margin-bottom: 10px;
}

.feature-content span {
    font-size: 1.7rem;
    font-weight: bold;
    color: #333;
}

.feature-content p {
    font-size: 1.5rem;
    color: #777;
    margin-top: 5px;
}

/*_____________RESPONSIVE __________________  */
@media (max-width: 992px) { 
    .container-features {
        flex-direction: row;
        justify-content: center;
    }
    .card-feature {
        max-width: 200px; 
        height: 180px;
    }
}

@media (max-width: 768px) { 
    .card-feature {
        max-width: 100%; 
        height: auto;
    }
}






/*_________________FOOTTER*____________________*/

.menu-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0rem;
    gap: 3rem;
    justify-items: center;
}
.footer {
	background-color: var(--warm-almond-beige);
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}


.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
	color: var(--text-color);
	
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #4b4a4a;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #4b4a4a;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--text-color);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}
